*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 900px;}

header {
	background: url('../images/imagechatbotlol.jpg');
	text-align: center;
	width: 100%;
	height: auto;
    background-size: 82%;
    background-position-x: center;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%
}

header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 5px 5px 5px #333;
  background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%)
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px
}

h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px
}

body{
    background-color: #5064d4
}

p{
	text-align: center
}

.titre{
	text-decoration: underline
}

.pied{
	border-top: white solid 2px;
	height: 100px;
}

.texte_pied_g{
	float: left;
	margin-top: 40px;
	margin-left: 20px
}

.texte_pied_d{
	float: right;
	margin-top: 40px;
	margin-right: 20px
}

img{
    margin-left: 25%
}

.objectifs{
	text-align: left;
	margin-left: 25%;
}

.apport{
	text-align: right;
	margin-right: 25%;
}

.container{
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 240px auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.container .box{
    position:  relative;
    width: 370px;
    height: 270px;
    background: #425066;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
.container .box .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5250d4;
    transition: 0.5s;
    z-index: 1;
}
.container .box:hover .icon{
    top: 20px;
    left: calc(50% - 40px) ;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.container .box .icon .fas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition:  0.5s;
    color: #fff;
}
.container .box:hover .icon .fas{
    font-size: 40px;
}
.container .box .content{
    position: relative;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
}
.container .box:hover .content{
    top: 100px;
}
.container .box .content h3{
    margin: 0;
    padding: 0;
    color: white;
    text-transform: uppercase;
}
.container .box .content p{
    margin: 0;
    padding: 0;
    color: white;
}
.container .box .icon .fab{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition:  0.5s;
    color: #fff;
}
.container .box:hover .icon .fab{
    font-size: 40px;
}