@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
html,body{
    margin: 0;
    padding: 0;
    font-family: Lato;
    background: url(../image/disgn.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.menu{
    background: white;
    width: 100%;
    height: 66px;
    line-height: 66px;
    border-bottom: black solid;
    color :#425066;
}
.m-left {
    float: left;
    margin-left: 20px;
    color :#425066;
}
.logo {
    margin: 0;
    padding: 0;
    color :#425066;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 2px;
}
.m-right {
    margin-right: 20px;
    float: right;
}
.m-lien{
    color :#425066;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
    margin: 0 20px;
    transition: all 0.5s ease-in-out;
    border-bottom: 2px solid transparent;
}
.m-lien:hover{
    padding-bottom: 3px;
    border-color: #425066;
}
.article{
    margin-top: 15%;
}
.titre{
    margin-left: 29%;
    margin-right: 29%;
    max-width: 40%;
    text-transform: uppercase;
    color: black;
    text-align: center;
}
.st_crea{
    text-transform: uppercase;
    text-align: center;

}
.seperation{
    border-top: 1px solid #dadada;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 30%;
    margin-right: 30%;
}
.nom{
    text-align: center;
    
}
.pres{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
}
.container{
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 240px auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.container .box{
    position:  relative;
    width: 370px;
    height: 270px;
    background: #425066;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
.container .box .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff9000;
    transition: 0.5s;
    z-index: 1;
}
.container .box:hover .icon{
    top: 20px;
    left: calc(50% - 40px) ;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.container .box .icon .fas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition:  0.5s;
    color: #fff;
}
.container .box:hover .icon .fas{
    font-size: 40px;
}
.container .box .content{
    position: relative;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
}
.container .box:hover .content{
    top: 100px;
}
.container .box .content h3{
    margin: 0;
    padding: 0;
    color: white;
    text-transform: uppercase;
}
.container .box .content p{
    margin: 0;
    padding: 0;
    color: white;
}
.container .box .icon .fab{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition:  0.5s;
    color: #fff;
}
.container .box:hover .icon .fab{
    font-size: 40px;
}

.bas{
    border-top: #425066 solid 2px;
    height: 100px;
}
.bas_droit{
    color: black;
    float: right;
    margin-right: 5%;
}
.bas_gauche{
    float: left;
}
.info_ape{
    margin-top: 2%;
    margin-left: 25%;
}
img{
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 25%;
    border: black solid 1px;
}