@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
html,body{
    margin: 0;
    padding: 0;
    font-family: Lato;
    background: url(../image/disgn.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.menu{
    background: white;
    width: 100%;
    height: 66px;
    line-height: 66px;
    border-bottom: black solid;
    color :#425066;
}
.m-left {
    float: left;
    margin-left: 20px;
    color :#425066;
}
.logo {
    margin: 0;
    padding: 0;
    color :#425066;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 2px;
}
.m-right {
    margin-right: 20px;
    float: right;
}
.m-lien{
    color :#425066;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
    margin: 0 20px;
    transition: all 0.5s ease-in-out;
    border-bottom: 2px solid transparent;
}
.m-lien:hover{
    padding-bottom: 3px;
    border-color: #425066;
}
.article{
    margin-top: 13%;
}
.titre{
    text-transform: uppercase;
    color: black;
    text-align: center;
}
.st_crea{
    text-transform: uppercase;
    text-align: center;

}
.seperation{
    border-top: 1px solid #dadada;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 30%;
    margin-right: 30%;
}
.nom{
    text-align: center;
}
.prierban{
    text-align: center;
    text-transform: uppercase;
}
.projet{
    float: left;
    margin-left: 20%;
    width: 300px;
    height: 200px;
    border: black solid;
    border-radius: 20px;
    background: url(../image/code.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

}
.explication{
    float: left;
    margin-left: 5%;
    width: 300px;
    height: 200px;
    border: black solid;
    border-radius: 20px;
    background: url(../image/supervisedlearning.png);
    background-size: 100%;
    background-repeat: no-repeat;

}
.github{
    float: left;
    margin-left: 5%;
    width: 300px;
    height: 200px;
    border: black solid;
    border-radius: 20px;
    background: url(../image/github.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

}
.t_projet{
    padding: 0;
    margin-top: 25%;
    text-transform: uppercase;
    text-align: center;
    color: #ff9000;
}