@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
html,body{
    margin: 0px;
    padding: 0px;
    font-family: Lato;
    background: #262622;
}
section{
    position: relative;
    width: 100%;
    height: 1212px;
    background:url("../image/fondcode.png");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: repeat;
    
}
.titre{
    position: sticky;
    color: white;
    font-family: Roboto;
    font-weight: 900;
    letter-spacing: 2px;
    padding-top: 25%;
    margin-top:0px ;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}
.btn {
    margin: 10px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    transition : 0.5s;
    color: white;
    border-radius: 15px;
    background-size: 200%;
    border-color: #262622;
}
.btn1{
    background-image: linear-gradient(
        to right, 
        rgb(58, 59, 58),
         rgba(32, 32, 32, 1),
         rgb(26, 25, 25)
         );
}
.btn1:hover{
    background-position: right;
}
.dégradé{
    background: linear-gradient(rgb(32, 32, 32),#262622);
    width: 100%;
    height: 75px;
}
.text{
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background: white;
    width: 20%;
    border-radius: 10px;
}
.article1{
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}
.sous-titre{
    text-decoration: underline;
    text-align: center;
}